.vscode/*
cmake_install.cmake
tee_crypto
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/progress.marks
CMakeFiles/optee_secure_environment.dir/build.make
CMakeFiles/optee_secure_environment.dir/C.includecache
CMakeFiles/optee_secure_environment.dir/cmake_clean.cmake
CMakeFiles/optee_secure_environment.dir/depend.internal
CMakeFiles/optee_secure_environment.dir/depend.make
CMakeFiles/optee_secure_environment.dir/DependInfo.cmake
CMakeFiles/optee_secure_environment.dir/flags.make
CMakeFiles/optee_secure_environment.dir/link.txt
CMakeFiles/optee_secure_environment.dir/progress.make
CMakeFiles/tee_crypto.dir/build.make
CMakeFiles/tee_crypto.dir/C.includecache
CMakeFiles/tee_crypto.dir/cmake_clean.cmake
CMakeFiles/tee_crypto.dir/depend.internal
CMakeFiles/tee_crypto.dir/depend.make
CMakeFiles/tee_crypto.dir/DependInfo.cmake
CMakeFiles/tee_crypto.dir/flags.make
CMakeFiles/tee_crypto.dir/link.txt
CMakeFiles/tee_crypto.dir/progress.make
ta/out/.se_ta.o.cmd
ta/out/.se_ta.o.d
ta/out/.ta.ld.d
ta/out/.user_ta_header.o.cmd
ta/out/.user_ta_header.o.d
ta/out/484d4141-2d53-4841-3120-4a6f636b6542.dmp
ta/out/484d4141-2d53-4841-3120-4a6f636b6542.elf
ta/out/484d4141-2d53-4841-3120-4a6f636b6542.map
ta/out/484d4141-2d53-4841-3120-4a6f636b6542.stripped.elf
ta/out/484d4141-2d53-4841-3120-4a6f636b6542.ta
ta/out/dyn_list
ta/out/se_ta.o
ta/out/ta.lds
ta/out/user_ta_header.o
CMakeFiles/tee_crypto.dir/host/main.c.o
